.landing-division-background{
    display: relative;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    top: 0;
    //background-color: burlywood;
}

.column-landing-left{
    //background-color: hotpink;
    width: 100%;
    //margin-top:230px;
}

.column-landing-center{
    //background-color: yellow;
    width: 100%;
}

.column-landing-right{
    //background-color: green;
    width: 100%;
}