$maincolor: #F5dF4D;
$subcolor: #939597;

.register-field {
    width: 100%;
    max-width: 400px;
    min-height: 100%;
    text-align: center;
    margin: 0px auto;
}

.register-header {
    width: 100%;
    margin-bottom: 10px;
}

.register-form{
    width: 100%;
}

.register-title{
    float: left;
    font-size: 20px;
    line-height: 32px;
}

.register-content{
    padding-top: 20px;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 12px;
}

#registerId {
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    height: 45px;
    border: 1px solid #ddd;
}

#registerName {
    @extend #registerId;
}

#registerPwd {
    @extend #registerId;
}

#registerPwdConfirm {
    @extend #registerId;
}

.register-row {
    width: 100%;
}

.register-btnWrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

@mixin btn() {
    box-sizing: border-box;
    border: 1px solid $maincolor;
    text-align: center;
    display: inline-block;
    padding: 1em 1.75em;
    white-space: nowrap;
    line-height: normal;
    cursor: pointer;
    width: 100%;
    max-width: 240px;
    height: 54px;
    font-size: 14px;
    min-width: 160px;
    min-height: 54px;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-decoration: none;
    outline: none;
}

.register-btn {
    @include btn();
    color: $maincolor;
    background-color: white;
    transition:all .2s;
}

.register-btn:hover {
    @include btn();
    color: white;
    background-color: $maincolor;
}

@media screen and (max-width: 430px) {
    .register-field {
        width: 100%;
        max-width: 300px;
        min-height: 100%;
        text-align: center;
        margin: 0px auto;
    }
}