$maincolor: #F5dF4D;
$subcolor: #939597;

.productContentDetail{
    width:100%;
    display: relative;
    flex-direction: row;
    margin: 0 auto;
    box-sizing: border-box;
    top: 0;
}
.product-detail-start{
    margin-top:220px;
    display: relative;
}

.product-detail-Wrap{
    padding: 0px 0px 0px 0px;
    height: 100%;
    display: relative;
}

.productDetailWrapper{
    margin: 0 auto;
    max-width: 960px;
    position:relative;
    height:100%;
    //background-color: aquamarine;
}

.detailThumbDiv{
    width:50%;
    float: left;
    position: relative;
    overflow: hidden;
    height:500px;
    //background-color: aquamarine;
}

.detailThumbImg{
    display: relative;
}

.detailImgSize{
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 470px;
}

.productDetailInfo{
    width: 50%;
    position: relative;
    text-align: left;
    padding-top: 10px;
    float: left;
    //background-color: yellowgreen;
    height:500px;
}

.productDetailName{
    display: relative;
    font-size:25px;
    line-height: 1.2em;
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 50px;
}

.productDetailPrice{
    margin-bottom:20px;
    font-size:22px;
    line-height: 1.2em;
    color: #121111;
    font-family: Arial, sans-serif;
    font-weight:700;
    letter-spacing: 0.01em;
    text-align: left;
    padding-left: 50px;
}

.delivery{
    padding-left: 50px;
}

.count{
    @extend .delivery;
    margin-top:20px;
}

.countButton{
    @extend .count;
    margin-top:20px;
    margin-bottom:30px;
}

.countButton button{
    font-size:20px; 
    border:black solid 1px; 
    background:none;
    height:30px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}

.countButton input{
    font-size:16;
    text-align:center;
    vertical-align:middle;
    height:30px;
    padding: 0px;
    border:black solid 1px; 
    background:none;
    width:40px;
    margin-left:10px;
    margin-right:10px;
}

.cartDiv{
    max-width: 100%;
    min-height: auto;
    display: block;
    margin: 0 auto;
}

@mixin cartButton() {
    font-size:15px; 
    border:black solid 1px; 
    background:none;
    width:150px;
    height:50px;
    margin-left:50px;
    margin-right:10px;
    margin-bottom:20px;
    cursor:pointer;
}

.cartBtn{
    @include cartButton();
}

.cartBtn:hover {
    @include cartButton();
    color: white;
    background-color: black;
    transition:all .2s;
}

.cartBtn2{
    @include cartButton();
    margin-left:8px;
    color: $subcolor;
    border: $subcolor solid 1px;
}

.cartBtn2:hover{
    font-size:15px; 
    border: $subcolor solid 1px; 
    background:none;
    width:150px;
    height:50px;
    margin-left:8px;
    margin-right:10px;
    margin-bottom:20px;
    color: white;
    background-color: $subcolor;
    transition:all .2s;
    cursor:pointer;
}

.cartPopup {
    font-size:15px; 
    border:$maincolor solid 1px; 
    background-color: $maincolor;
    width:315px;
    height:50px;
    margin-left:50px;
    margin-right:10px;
    margin-bottom:20px;
    text-align:center;
    vertical-align:middle;
    border-radius: 30px;
    opacity: 0.8;
}

.cartPopupContent{
    font-size:15px;
    width:315px;
    height:50px;
}

.productDescriptionTitle{
    font-size:14px;
    line-height: 1.2em;
    color: #121111;
    font-family: Arial, sans-serif;
    font-weight:700;
    letter-spacing: 0.01em;
    text-align: left;
}

.deliverySub{
    font-size:12px;
    line-height: 1.2em;
    color: #121111;
    font-family: Arial, sans-serif;
    font-weight:500;
    padding-left:0px;
    letter-spacing: 0.01em;
    text-align: left;
}

.productDescription{
    margin-left:50px;
    font-size:12px;
    line-height: 1.2em;
    color: #121111;
    font-family: Arial, sans-serif;
    font-weight:500;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom:10px;
    width:80%;
}

.productDescriptionSubject{
    @extend .productDescription;
    margin-top:30px;
    margin-bottom:15px;
}

.descriptionHr{
    border-top: 3px double #bbb;
}

.deliveryDescription{
    font-size:14px;
    line-height: 1.2em;
    color: #121111;
    font-family: Arial, sans-serif;
    font-weight:500;
    letter-spacing: 0.01em;
    text-align: left;
    width:95%;
    margin: 0 auto;
    max-width: 960px;
    position:static;
}

.subDescription{
    font-size:12px;
    line-height: 1.2em;
    color: $subcolor;
    font-family: Arial, sans-serif;
    font-weight:500;
    letter-spacing: 0.01em;
    text-align: left;
    width:95%;
    margin: 0 auto;
    max-width: 960px;
    position:static;
    padding-top:5px;
}

.product-detail-end{
    margin-bottom:20px;
    padding-bottom:60px;
}


@media screen and (max-width: 790px) {
    .cartBtn{
        font-size:15px; 
        border:black solid 1px; 
        background:none;
        width:90px;
        height:40px;
        margin-left:50px;
        margin-right:10px;
        margin-bottom:20px;
        cursor:pointer;
    }
    
    .cartBtn:hover {
        font-size:15px; 
        border:black solid 1px; 
        background:none;
        width:90px;
        height:40px;
        margin-left:50px;
        margin-right:10px;
        margin-bottom:20px;
        cursor:pointer;
        color: white;
        background-color: black;
        transition:all .2s;
    }
    
    .cartBtn2{
        font-size:11px; 
        border:black solid 1px; 
        background:none;
        width:90px;
        height:40px;
        margin-left:50px;
        margin-right:10px;
        margin-bottom:20px;
        padding-top:3px;
        cursor:pointer;
        margin-left:8px;
        color: $subcolor;
        border: $subcolor solid 1px;
    }
    
    .cartBtn2:hover{
        font-size:11px; 
        border: $subcolor solid 1px; 
        background:none;
        width:90px;
        height:40px;
        margin-left:8px;
        margin-right:10px;
        margin-bottom:20px;
        color: white;
        background-color: $subcolor;
        transition:all .2s;
        cursor:pointer;
    }
}

@media screen and (max-width: 680px) {
    .productDetailName{
        display: relative;
        font-size:15px;
        line-height: 1.2em;
        color: #222222;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:700;
        letter-spacing: 0.01em;
        text-align: left;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .productDetailPrice{
        margin-bottom:20px;
        font-size:20px;
        line-height: 1.2em;
        color: #121111;
        font-family: Arial, sans-serif;
        font-weight:700;
        letter-spacing: 0.01em;
        text-align: left;
        padding-left: 10px;
    }
    
    .delivery{
        padding-left: 10px;
    }

    .deliverySub{
        font-size:10px;
        line-height: 1em;
        color: #121111;
        font-family: Arial, sans-serif;
        font-weight:50;
        padding-left:0px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .count{
        padding-left: 10px;
        margin-top:20px;
    }
    
    .countButton{
        padding-left: 10px;
        margin-top:20px;
        margin-bottom:30px;
    }
    
    .countButton button{
        font-size:15px; 
        border:black solid 1px; 
        background:none;
        height:25px;
        text-align:center;
        vertical-align:middle;
        cursor:pointer;
    }
    
    .countButton input{
        font-size:13px;
        text-align:center;
        vertical-align:middle;
        height:25px;
        padding: 0px;
        border:black solid 1px; 
        background:none;
        width:40px;
        margin-left:10px;
        margin-right:10px;
    }
    
    .cartDiv{
        max-width: 100%;
        min-height: auto;
        display: block;
        margin: 0 auto;
    }
    
    .cartBtn{
        font-size:13px; 
        border:black solid 1px; 
        background:none;
        width:90px;
        height:40px;
        margin-left:10px;
        margin-right:10px;
        margin-bottom:20px;
        cursor:pointer;
    }
    
    .cartBtn:hover {
        font-size:13px; 
        border:black solid 1px; 
        background:none;
        width:90px;
        height:40px;
        margin-left:10px;
        margin-right:10px;
        margin-bottom:20px;
        cursor:pointer;
        color: white;
        background-color: black;
        transition:all .2s;
    }
    
    .cartBtn2{
        font-size:11px; 
        border:black solid 1px; 
        background:none;
        width:90px;
        height:40px;
        padding-top:2px;
        margin-left:50px;
        margin-right:10px;
        margin-bottom:20px;
        cursor:pointer;
        margin-left:3px;
        color: $subcolor;
        border: $subcolor solid 1px;
    }
    
    .cartBtn2:hover{
        font-size:11px; 
        border: $subcolor solid 1px; 
        background:none;
        width:90px;
        height:40px;
        margin-left:3px;
        padding-top:2px;
        margin-right:10px;
        margin-bottom:20px;
        color: white;
        background-color: $subcolor;
        transition:all .2s;
        cursor:pointer;
    }

    .productDescriptionTitle{
        font-size:14px;
        line-height: 1.2em;
        color: #121111;
        font-family: Arial, sans-serif;
        font-weight:700;
        letter-spacing: 0.01em;
        text-align: left;
    }
    
    .productDescription{
        margin-left:10px;
        font-size:12px;
        line-height: 1.2em;
        color: #121111;
        font-family: Arial, sans-serif;
        font-weight:500;
        letter-spacing: 0.01em;
        text-align: left;
        margin-bottom:10px;
        width:80%;
    }
    
    .descriptionHr{
        border-top: 3px double #bbb;
    }
    
    .deliveryDescription{
        font-size:14px;
        line-height: 1.2em;
        color: #121111;
        font-family: Arial, sans-serif;
        font-weight:500;
        letter-spacing: 0.01em;
        text-align: left;
        width:95%;
        margin: 0 auto;
        max-width: 960px;
        position:static;
    }
    
    .subDescription{
        font-size:12px;
        line-height: 1.2em;
        color: $subcolor;
        font-family: Arial, sans-serif;
        font-weight:500;
        letter-spacing: 0.01em;
        text-align: left;
        width:95%;
        margin: 0 auto;
        max-width: 960px;
        position:static;
        padding-top:5px;
    }
    
}

@media screen and (max-width: 467px) {
    .countButton{
        padding-left: 10px;
        margin-top:20px;
        margin-bottom:20px;
    }

    .cartBtn{
        font-size:10px; 
        border:black solid 1px; 
        background:none;
        width:70px;
        height:35px;
        margin-left:10px;
        margin-right:0px;
        margin-bottom:0px;
        cursor:pointer;
    }

    .cartBtn:hover {
        font-size:10px; 
        border:black solid 1px; 
        background:none;
        width:70px;
        height:35px;
        margin-left:10px;
        margin-right:0px;
        margin-bottom:0px;
        cursor:pointer;
        color: white;
        background-color: black;
        transition:all .2s;
    }

    .cartBtn2{
        font-size:8px; 
        border:black solid 1px; 
        background:none;
        width:70px;
        height:35px;
        margin-left:-10px;
        margin-right:0px;
        margin-bottom:0px;
        cursor:pointer;
        color: $subcolor;
        border: $subcolor solid 1px;
    }

    .cartBtn2:hover{
        font-size:8px; 
        border: $subcolor solid 1px; 
        background:none;
        width:70px;
        height:35px;
        margin-left:-10px;
        margin-right:0px;
        margin-bottom:0px;
        color: white;
        background-color: $subcolor;
        transition:all .2s;
        cursor:pointer;
    }

}