$subcolor: #939597;

.cardBlock {
    margin: 0 auto;
    max-width: 980px;
    position:relative;
    height:100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse:separate;
    width: 100%;
}

td,th {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size:12px;
    line-height: 1.2em;
    color: #121111;
    font-family: Arial, sans-serif;
    font-weight:500;
    letter-spacing: 0.01em;
}

th{
    border-top:1px solid #dddddd;
}

.deleteButton {
    cursor:pointer;
    border:none;
    background:none;
    color: $subcolor;
}

a{
    font-size:12px;
    line-height: 1.2em;
    color: #121111;
    font-family: Arial, sans-serif;
    font-weight:500;
    letter-spacing: 0.01em;
}

.cartCountButton{
    padding-left:0px;
}

.cartCountButton button{
    font-size:18px; 
    border:$subcolor solid 1px; 
    background:none;
    height:22px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}

.cartCountButton input{
    font-size:16;
    text-align:center;
    vertical-align:middle;
    height:20px;
    padding: 0px;
    border:$subcolor solid 1px; 
    background:none;
    width:30px;
    padding-left:2px;
    margin-left:5px;
    margin-right:5px;
}

@media screen and (max-width: 467px) {

}