.product-site-Wrap{
    max-width: 960px;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border: 0;
    display: block;
    position: relative;
    text-align:left;
}

.productWrapper{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 0;
    width: calc(33.3% - 20px);
    vertical-align: top;
    min-height: 1px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    cursor: pointer;
    
}

.productLink{
    text-decoration: none;
}

.thumbDiv{
    position: relative;
}

.thumbImg{
    width: 100%;
    padding-top: 0;
    position: relative;
    text-align:center;
    box-sizing:border-box;
    min-height: 50px;
}

.imgSize1{
    //width: 300px;
    //height: 300px;
    transform: scale(0.9);        
    transition: transform .5s;
    max-width: 100%;
    height: auto;
    display: block;
}

.imgSize2{
    //width: 369px;
    //height: 333px;
    transform: scale(0.9);        
    transition: transform .5s; 
    max-width: 100%;
    height: 333px;
    display: block;
}

.imgSize1:hover {
    transform: scale(1.0);  
    transition: transform .5s;
}

.imgSize2:hover {
    @extend .imgSize1:hover
}

.productInfo{
    margin-top:20px;
    text-align: center;
}

.productName{
    line-height: 1.5em;
    font-size: 11px;
    color: #222222;
    font-family: Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-align: center;
    cursor: pointer;
}

.productPrice{
    @extend .productName
}

.proudctPriceSpan{
    text-align: center;
    letter-spacing: 0.01em;
}

.product-start{
    margin-top:180px;
}

.product-end{
    margin-bottom:130px;
}

@media screen and (max-width: 670px) {
    .imgSize2{
        //width: 369px;
        //height: 333px;
        transform: scale(0.9);        
        transition: transform .5s; 
        max-width: 100%;
        height: 200px;
        display: block;
    }
}

@media screen and (max-width: 467px) {
    .imgSize2{
        //width: 369px;
        //height: 333px;
        transform: scale(0.9);        
        transition: transform .5s; 
        max-width: 100%;
        height: 150px;
        display: block;
    }
}