$maincolor: #F5dF4D;
$subcolor: #939597;

.QandA-start{
    overflow: hidden;
    padding-top:90px;
    padding-bottom:30px;
    margin-left:30px;
    margin-right:30px;
    max-width: 930px;

    position:relative;
    height:100%;
}

.QandA-title{
    font-size:20px;
    line-height: 1.2em;
    color: $maincolor;
    font : italic 1.2em "Fira Sans", serif;
    font-weight:500;
    letter-spacing: 0.01em;
    text-align: left;
    padding-bottom:20px;
}

.QandA-hr{
    border-top: 1px solid $maincolor;
    max-width: 930px;
    position:relative;
    height:100%;
    background-color: $maincolor;
    color: $maincolor;
}

.QandA-description{
    padding-top:50px;
    padding-bottom:50px;
    max-width: 900px;
    position:relative;
    height:100%;
    font-size:16px;
    line-height: 1.2em;
    color: $subcolor;
    font : Arial, sans-serif;
    font-weight:400;
    letter-spacing: 0.01em;
    text-align: center;
}

@mixin button() {
    float: right;
    box-sizing: border-box;
    border: 1px solid $maincolor;
    text-align: center;
    display:block;
    padding: 1em 1.75em;
    white-space: nowrap;
    line-height: normal;
    cursor: pointer;
    width: 100%;
    max-width: 140px;
    height: 54px;
    font-size: 14px;
    min-width: 100px;
    min-height: 54px;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-decoration: none;
    outline: none;
}

.QandA-btn {
    @include button();
    color: $maincolor;
    background-color: white;
    transition:all .2s;
}

.QandA-btn:hover {
    @include button();
    color: white;
    background-color: $maincolor;
}